{% from "macros/form_macros.html" import input_field, textarea_field, submit_button, cancel_button %}

{% set modal_id = "addContactModal" %}
{% set title = "Add New Client" %}
{% set show_close_button = true %}
{% set full_width = true %}
{% set show_icon = false %}
{% set show_footer = false %}

{% extends "components/modal_base.html" %}

{% block modal_content %}
<form action="/add_contact" method="post" class="space-y-4 px-1">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    {{ input_field("name", "Name", required=true, classes="focus:ring-2") }}
    {{ input_field("cell", "Cell Phone", type="tel", classes="focus:ring-2") }}
    {{ input_field("email", "Email", type="email", classes="focus:ring-2") }}
    {{ input_field("mailing_address", "Mailing Address", classes="focus:ring-2") }}
    {{ input_field("birthday", "Birthday (MM-DD)", placeholder="MM-DD", classes="focus:ring-2") }}
    {{ textarea_field("notes", "Notes", rows=3, classes="focus:ring-2") }}
    {{ input_field("facebook", "Facebook", classes="focus:ring-2") }}
    {{ input_field("instagram", "Instagram", classes="focus:ring-2") }}
    {{ input_field("twitter", "Twitter", classes="focus:ring-2") }}
    
    <div class="mt-6 sm:mt-5 sm:flex sm:flex-row-reverse space-x-reverse space-x-3">
        {{ submit_button("Add Client") }}
        {{ cancel_button() }}
    </div>
</form>
{% endblock %} 